*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Cormorant Garamond', serif;
   color: #B19BD9; 
}

#navbar {
    background: #B19BD9;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    padding-right: 15px;
}

section {
    padding-bottom: 100px;
}

#cta {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;
}

.main-text {
    font-size: 1.1rem;
    text-align: center;
    padding-top: ;
}

/*Bullet points*/
.s-link{
    /*display: inline;*/
    list-style-type: none;
    font-size: 2.2rem;
}

.s-link .s-span {
    font-size: 16px;
}

#services-list .s-link:before{
    content: "\2022";
    vertical-align: middle;
    padding-right: 10px;
}