*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Cormorant Garamond', serif;
   color: #B19BD9; 
   overflow-x: hidden;
}

#navbar {
    background: #B19BD9;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    padding-right: 15px;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,1);
    border: solid 2px rgba(255,255,255,.5);
}

section {
    padding-bottom: 80px;
}

#cta {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;
}

.main-text {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 40px;
}

.header{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0 20px 0;
}

#services {
    background-color: rgba(177, 155, 217, 0.1);
}

/*Bullet points*/
.s-link{
    list-style-type: none;
    font-size: 2.2rem;
}

.s-link .s-span {
    font-size: 1.2rem;
}

#services-list .s-link:before{
    content: "\2022";
    vertical-align: middle;
    padding-right: 10px;
}

#contact{
    background-color: rgba(177, 155, 217, 0.1);
}

.contact-items {
    text-align: center;
    text-transform: uppercase;
}

h5{
    font-weight: 700;
}

.contact-text{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: none;
}


#phone, #mailto{
    text-decoration: none;
    color: #B19BD9;
}

#phone:hover, #mailto:hover {
    color: rgba(177, 155, 217, 0.6);
}

#mailto {
    overflow-wrap: break-word;
}

footer{
    background-color: #B19BD9;
    padding: 10px;
}

p#footerText{
    padding-top: 12px;
    color: white;
}

span#heart {
    color: pink;
}

a#website {
    text-decoration: none;
    color: white;
}

a#website:hover {
    color: rgba(255,255,255,0.8)
}

@media only screen and (max-width: 1200px) {
    #dogs {
        padding-top: 40px;
    }

    section {
        padding-bottom: 30px;
    }

    .main-text {
        padding-top: 25px;
    }

    .contact-items {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {

    #services-list {
        margin: 0;
    }

}